---
layout: home
title: Manipulation and Morphing for Meshes Open Source
home: true

extra-css:
    - home.css

extra-scripts:
    - jquery.cycle2.min.js

---

    <div id="banner">
        <div class="title">
            <h1 class="MiMMO">MiMMO</h1>

            <h2>Manipulation and Morphing for Meshes Open Source</h2>
        </div>

        <div class="cycle-slideshow">
            <img alt="PABLO Example" src="{{ site.baseurl }}/images/header_mimmo_11.png" />
            <img alt="PABLO Example" src="{{ site.baseurl }}/images/header_mimmo_22.png" />
        </div>
    </div>

    <div id="main" class="home">

        <div class="content-box bitpit-introduction">
            <div class="image">
                <img alt="bitpit Logo" src="{{ site.baseurl }}/images/bitpit_logo_cube.png" />
            </div>

            <div class="content">
                <h1>A quick look at MiMMO</h1>

                <p>
                MiMMO is a open source C++ library for mesh manipulation and morphing. 
                </p>

                <p>
                MiMMO is developed and maintained by <a class="optimad" href="http://www.optimad.it">OPTIMAD Engineering Srl</a>
                and is distributed under the <a href="https://www.gnu.org/licenses/lgpl-3.0.en.html">GNU Lesser General Public License v3.0</a>.
                </p>

                <p>
                The framework consists of a number of manipulation objects, input/output interfaces, morphing wrappers and other tools.</br>
                The library is designed as a block diagram framework where each object can be linked with others in an execution chain.                                
                </p>
                
                <p>
               Inside MiMMO some basic manipulation objects are provided, as well as some wrappers to fundamental deformations and other tools
               convenient to surface and mesh morphing. </br>
               The implementation of customized blocks is straightforward by deriving the own object class from the base class defined in MiMMO.
                </p>
                
                <p>
               The library allows to import/export several CAD format (stl, vtu, cgns and others). The permitted formats are listed
               in the documentation of input/output classes.                              
                </p>
                
                <p>
               MiMMO is based on <a class"bitpit" href="www.optimad.it/products/bitpit">bitpit</a>, a C++ library developed by 
               <a class="optimad" href="http://www.optimad.it">OPTIMAD</a>.
               bitpit supplies basic tools to manage surface and volume meshes.                          
                </p>
                
                <p>
               MiMMO is the base of <a class"MIMIC" href="www.optimad.it/products/MIMIC">MIMIC</a>, a commercial software developed and distributed by <a class="optimad" href="http://www.optimad.it">OPTIMAD</a>
               aimed to surface and volume mesh morphing for industrial applications and shape optimization.
               <a class"MIMIC" href="www.optimad.it/products/MIMIC">MIMIC</a>, compared to MiMMO, provides advanced tools and interfaces, <i>e.g.</i> volume mesh morphing, continuity constratins definition, 
               OpenFOAM input/output interfaces. </br>
               </br>
               Conversely to MiMMO, <a class"MIMIC" href="www.optimad.it/products/MIMIC">MIMIC</a> provides even a graphical user interface.
               </br>
               </br>
               MiMMO is part of <a class"PASO" href="www.optimad.it/services/software-develpment-integration">PASO</a> the platform for 
               automatic shape optimization developed by <a class="optimad" href="http://www.optimad.it">OPTIMAD</a>.
                </p>
                
            </div>
        </div>

        <div class="content-box module-list">
            <div class="content">
                {% for module in site.overview %}
                    {% if module.highlights %}
                    <div class="module-info">
                        <h1><a href="{{ site.baseurl }}/{{ module.url }}" >{{ module.name }}</a></h1>
                        <p>
                        {{ module.description }}
                        </p>
                    </div>
                    {% endif %}
                {% endfor %}

                <div style='clear:both'></div>
            </div>
        </div>

        <div class="content-box">
            <div class="image">
                <img alt="bitpit Logo" src="{{ site.baseurl }}/images/bitpit_logo_cube.png" />
            </div>

            <div class="content">
                <h1>XXX</h1>

                <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
                dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
                dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
                leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam
                lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus
                viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
                Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
                Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum
                rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.
                Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas
                nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
                </p>
            </div>
        </div>
    </div>
