---
layout: home
title: Manipulation and Morphing for Meshes Open Source
home: true

extra-css:
    - home.css

extra-scripts:
    - jquery.cycle2.min.js

---

    <div id="banner">
        <div class="title">
            <h1 class="MiMMO"><b>MiMMO</b></h1>

            <h2>Manipulation and Morphing for Meshes Open Source</h2>
        </div>

        <div class="cycle-slideshow">
            <img alt="MiMMO head" src="{{ site.baseurl }}/images/header_mimmo_11.png" />
            <img alt="MiMMO patches" src="{{ site.baseurl }}/images/header_mimmo_22b.png" />
        </div>
    </div>

    <div id="main" class="home">

        <div class="content-box bitpit-introduction">

        <div class="image">
             <img alt="MiMMO Logo" src="{{ site.baseurl }}/images/mimmo_6.png" />
        </div>
            
        
            <div class="content">
                <h1>A quick look at <b>MiMMO</b></h1>

                <p>
                <b>MiMMO</b> is a open source C++ library for mesh manipulation and morphing. 
                </p>

                <p>
                <b>MiMMO</b> is developed and maintained by <a class="optimad" href="http://www.optimad.it">OPTIMAD Engineering Srl</a>
                and is distributed under the <a href="https://www.gnu.org/licenses/lgpl-3.0.en.html">GNU Lesser General Public License v3.0</a>.
                </p>

                <p>
                The framework consists of a number of manipulation objects, input/output interfaces, morphing wrappers and other tools.</br>
                The library is designed as a block diagram framework where each object can be linked with others in an execution chain.                                
                </p>
                
                <p>
               Inside <b>MiMMO</b> some basic manipulation objects are provided, as well as some wrappers to fundamental deformations and other tools
               convenient to surface and mesh morphing. </br>
               The implementation of customized blocks is straightforward by deriving the own object class from the base class defined in <b>MiMMO</b>.
                </p>
                
                <p>
               The library allows to import/export several CAD format (stl, vtu, cgns and others). The permitted formats are listed
               in the documentation of input/output classes.                              
                </p>
                
                <p>
               <b>MiMMO</b> is based on <a class"bitpit" href="http://www.optimad.it/products/bitpit">bitpit</a>, a C++ library developed by 
               <a class="optimad" href="http://www.optimad.it">OPTIMAD</a>.
               bitpit supplies basic tools to manage surface and volume meshes.                          
                </p>
                
                <p>
               <b>MiMMO</b> is the base of <a class"MIMIC" href="http://www.optimad.it/products/MIMIC">MIMIC</a>, a commercial software developed and distributed by <a class="optimad" href="http://www.optimad.it">OPTIMAD</a>
               aimed to surface and volume mesh morphing for industrial applications and shape optimization.
               <a class"MIMIC" href="http://www.optimad.it/products/MIMIC">MIMIC</a>, compared to <b>MiMMO</b>, provides advanced tools and interfaces, <i>e.g.</i> volume mesh morphing, continuity constratins definition, 
               OpenFOAM input/output interfaces. </br>
               </br>
               Conversely to <b>MiMMO</b>, <a class"MIMIC" href="http://www.optimad.it/products/MIMIC">MIMIC</a> provides even a graphical user interface.
               </br>
               </br>
               <b>MiMMO</b> is part of <a class"PASO" href="http://www.optimad.it/services/software-development-integration">PASO</a> the platform for 
               automatic shape optimization developed by <a class="optimad" href="http://www.optimad.it">OPTIMAD</a>.
                </p>
                
            </div>
        </div>

        <div class="content-box module-list">
            <div class="content">
                {% for module in site.overview %}
                    {% if module.highlights %}
                    <div class="module-info">
                        <h1><a href="{{ site.baseurl }}/{{ module.url }}" >{{ module.name }}</a></h1>
                        <p>
                        {{ module.description }}
                        </p>
                    </div>
                    {% endif %}
                {% endfor %}

                <div style='clear:both'></div>
            </div>
        </div>

        <div class="content-box">
            <div class="image">
             <img alt="spoiler1" src="{{ site.baseurl }}/images/mimmo_spoiler1.png" />
            </div>

            <div class="content">
                <h1>Publications</h1>

                <p>
                <b> Reduced order models at work. A shape optimization test case.</b> Tizio </i>et al.<i> Conference bla bla 2016. 
                </p>
            </div>
        </div>
    </div>
